server/sam-app/old_shit_or_testing/transcribe/stepfunction.json
{
"comment": "execute trascribe functions, with a delay, to get the text result from an audio (.wav)",
  "StartAt": "StartJob",
  "States": {
    "StartJob": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:048259780277:function:startJob",
      "ResultPath": "$",
      "Next": "wait"
    },
    "wait": {
        "Type": "Wait",
        "Seconds": 120,
        "Next": "getJob"
      },
     "getJob": {
       "Type": "Task",
       "Resource": "arn:aws:lambda:us-west-2:048259780277:function:getJob",
       "ResultPath": "$",
      "Next": "ifStatusComplete"
    },
    "ifStatusComplete":{
       "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.TranscriptionJob.continue",
                    "BooleanEquals": true,
                    "Next": "return"
                }
            ],
            "Default": "getResult"
    },
     "return": {
            "Type": "Pass",
            "ResultPath": "$",
            "Next": "wait"
        },
     "getResult": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-west-2:048259780277:function:audioAnalize",
            "End": true
          
      }
  }
}
